/* Styles for cart item image */
.cart-item-image {
    background-color: #ffffff;
    border-radius: 12px;
    margin: 8px;
  }
  cart-item-image-2{
    background-color: #ffffff;
    border-radius: 12px;
    margin: 8px;
  }
  /* Text styles */
  .txt-2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800; 
  }
  
  .txt-3 {
    position: relative;
    right: 160px;
  }
  
  /* Button styles */
  .view-bag-button, 
  .view-bag-button-2 {
    color: #ffffff;
    background-color: #1A1F16;
    border: none;
    border-radius: 14px;
    padding: 9px 34px;
    text-decoration: none;
    margin: 10px 0 50px;
    position: relative;
    bottom: -60px;
  }
  
  .view-bag-button-2 {
    left: 110px;
  }
  
  /* Button container styles */
  .btnBag, 
  .btnBag-2, 
  .btnBag3 {
    border: none;
    position: relative;
    z-index: 1;
  }
  
  .btnBag {
    left: -40px;
  }

  .btnBag3 {
    left: -20px;
  }
  
  .btnBag-2 {
    margin: auto;
    left: 80px;
  }
  
  /* Layout styles */
  .class-a, 
  .class-b {
    position: relative;
    padding: 80px;
    /* background: #e20909; */
    left: 50px;
  }
  
  .class-a {
    left: 150px;
    width: 150%;
  }
  
  .class-b {
    left: 350px;
    width: 240%;
    /* background: #1A1F16; */
    position: relative;
    bottom: 100px;
  }
  .class-c {
    left: 150px;
    /* background: #1A1F16; */
    position: relative;
    bottom: 100px;
  }