/* Styles for address containers */
.address-container,
.no-address-container {
    background: #ffff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.btn-address,
.btn-no-address {
    border: 1px solid #1A1F16;
    border-radius: 11px;
    padding: 4px 14px;
    background-color: transparent;
}

.btn-address {
    position: relative;
    top: 40%;
}

.btn-no-address {
    margin: 20px;
}

.address-content,
.no-address-content {
    margin: 20px;
}

h2 {
    font-weight: lighter;
    letter-spacing: 4px;
}

.row {
    margin-top: 30px;
}

.btn-inc,
.btn-incr:hover {
    background-color: transparent;
    color: #02D693;
    border: none;
}

.btn-inc {
    position: relative;
    top: 42%;
    left: 70%;
}

.btn-dec,
.btn-dec:hover {
    background-color: transparent;
    color: #e5252c;
    border: none;
}

.btn-dec {
    position: relative;
    top: 70%;
    left: 15%;
}

.mx-2 {
    position: relative;
    top: 58%;
    left: 40%;
}

/* Total bag styles */
.total-bag {
    position: absolute;
    right: 10%;
    top: 40%;
}

/* Layout styles */
.top-area,
.img-area {
    display: flex;
}

/* Image gallery styles */
.img-gallery {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

/* Container 2 styles */
.container-2 {
    display: grid;
    grid-gap: 10px;
    width: 120%;
}
